<div class="row bg-dark t">
<h4 class="bg-dark text-white p-2">Search Persian News in Archive</h4>
 <section class="col-md-12 rounded row">
           <form action="/search-dataa" class="p-4" method="post">
            <div class="input pb-1">
                 <label for="title">Titles</label>
                <input type="text" id="wordc" class="rounded" name="wordc">
            </div>
            <button class="btn btn-dark" >search <i class="fa fa-search"></i></button>
            <div>
                {{# each itemssc }}
                <article class="item">
                    <div>Title: {{ this.title }}</div>
                    <div>description: {{ this.description }}</div>
                    <div>authors: {{ this.authors }}</div>
                    <div>ID: {{ this._id }}</div>
                </article>
                {{/each}}
            </div>
        </form>
        <form action="/search-data" class="p-4" method="post">
            <div class="input pb-1">
                 <label for="description">Descriptions</label>
                <input type="text" id="word" class="rounded" name="word">
            </div>
        <button class="btn btn-dark" >search <i class="fa fa-search"></i></button>
            <div>
                {{# each itemss }}
                <article class="item">
                    <div>Title: {{ this.title }}</div>
                    <div>description: {{ this.description }}</div>
                    <div>authors: {{ this.authors }}</div>
                    <div>ID: {{ this._id }}</div>
                </article>
                {{/each}}
            </div>
        </form>

         
    </section>

</div>
<div class="row bg-dark t">
  
 {{!--    <section class="insert">
        <h3 class="t">Insert Data</h3>
        <form action="/insert" method="post">
            <div class="input">
                <label for="title">Title</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="input">
                <label for="description">description</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="input">
                <label for="authors">authors</label>
                <input type="text" id="authors" name="authors">
            </div>
            <button type="submit">INSERT</button>
        </form>
    </section> --}}
   
    <div class="col-md-12 bg rounded p-4">
        <h5 class="">Archive of News</h5>
       <a class="btn btn-dark" href="/get-data">Press to Get</a>
        <div>
            {{# each items }}
            <article class="item">
                <div>Title: {{ this.title }}</div>
                <div>description: {{ this.description }}</div>
                <div>authors: {{ this.authors }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
            {{/each}}
        </div>
    </div>

</div>

   {{!--  <section class="update">
        <h3 class="t">Update Data</h3>
        <form action="/update" method="post">
            <div class="input">
                <label for="id">ID</label>
                <input type="text" id="id" name="id">
            </div>
            <div class="input">
                <label for="title">Title</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="input">
                <label for="description">description</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="input">
                <label for="authors">authors</label>
                <input type="text" id="authors" name="authors">
            </div>
            <button type="submit">UPDATE</button>
        </form>
    </section> --}}
    
  {{!--   <section class="delete">
        <h3 class="t">Delete Data</h3>
        <form action="/delete" method="post">
            <div class="input">
                <label for="id">ID</label>
                <input type="text" id="id" name="id">
            </div>
            <button type="submit">DELETE</button>
        </form>
    </section> --}}
